%html
  %head
    %title Welcome to TideSDK Developer
    %link{href: 'stylesheets/application.css', rel: 'stylesheet'}
  %body
    %div Welcome to TideSDK Developer
    %script{src: 'ruby/application.rb', type: 'text/ruby'}
    %script{src: 'javascripts/application.js'}
